header{
    font-family: $primary-font-family;
    font-size:$primary-font-size;
}
 .navbar{
        display: flex; 
        width: 100%;
        .icon-cart {
            position: relative;
            .input-bag{
                margin-left: -100px;
                left: 0;
                text-align: center;
                display: none;
                position: absolute;
                width: 200px;
                height: 50px;
                border-style: solid;
                border: 0;
            }
            div{
                position: absolute;
                display: none;
            }
            a{
                &:hover #search-icon{
                    color: red;
                }
            }
            i{
                margin-right: 20px;
            }
            .basket-icon{
                &:hover{
                    .input-bag{
                        display: block;
                    }
                }
            }


        }
        .image{
            margin-top: 20px;
            margin-left: 50px;
           
        }
        .image>img{
            width: 270px;
        }
        .navbar-about{
            position: relative;
            display: flex;
            left: 300px;
        }
        .navbar-about_item>div{
            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: rgb(75, 75, 75);
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }
            &:hover::before {
                visibility: visible;
                width: 100%;
              }
        }
        
        .navbar-about_item>ul{
            display: none;
            position: absolute;
            min-width: 200px;
            margin-top: 1px;
            background-color: white;
            text-align: start;
            margin-left: 0;
            padding-left: 0;
            background-color: white;
        }

        .navbar-about_item{
            transition: 0.2s;
            margin: 30px;
            position: relative;
            display: inline-block;
            &:hover ul{
                display: block;
                transition: 0.2s;
                visibility: visible;
                animation: drop 1s forwards;
	            a,h3 {
		        animation: drop_text 1s forwards;
	                }
            }
            @keyframes drop {
	        from {
	        	max-height: 0;
	                }

	        to {
	        	max-height: 700px;
	            }
            }

            @keyframes drop {
                from {
                    max-height: 0;
                }
            
                to {
                    max-height: 700px;
                }
            }
            .shop-item{
                position: absolute;
                display: none;
                left: 50%;
                background-color: white;
              ul{
                padding: 0;
                margin: 30px;
              }
              h3{
                  margin: 17px;
              }
            }
            li{
                 margin: 0;
                padding: 0;
                padding: 15px 20px;
                list-style: none;
                position: relative;
                min-width: 200px;
                &::before {
                    content: "";
                    position: absolute; 
                    width: 0;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: rgb(75, 75, 75);
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                }
                &:hover::before {
                    visibility: visible;
                    width: 100%;
                  }
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
        .shop{
            &:hover .shop-item{
                display: flex;
                align-self: flex-start;
                position: absolute;
                left: 50%; 
                transform: translate(-50%, 0);
            }
        } 
        .next-dropdown{ 
         position: relative;
        margin: 0 8px;
        display: flex;
        .arrow {
            border: solid rgb(37, 37, 37);
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            position: absolute;
            right: 15px;
          } 
         ul{
            visibility: hidden;
            opacity: 0;        
            padding: 0;
            min-width: 0px;
            background-color:white;
            position: absolute;
            top: calc(var(--menu-height) + 5px);
            left: 100%;
            transform: translateX(-50%);
            transition: 200ms;
            transition-delay: 200ms;
            li {
                margin: 0;
                padding: 8px 16px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 30px;
                padding-right: 40px;
                &::before {
                  width: 0; 
                  height: 0;  
                  content: "";
                  position: absolute;
                  width: 0;
                  height: 1px;
                  bottom: 0;
                  left: 0;
                  background-color: rgb(75, 75, 75);
                  visibility: hidden;
                  transition: all 0.3s ease-in-out;
                }
                ul {
                    
                    top: -2%;
                    left: 100%;
                    transform: translate(0)
                  }
                  &:hover {
                    background-color: white;
                    visibility: visible;
                  }
            }
        }
         &:hover {
        > ul {
          z-index: 1;
          opacity: 1;
          visibility: visible;
          transition-delay: 0ms;
        }
      }
     }
     @media screen and(max-width: 900px){
         nav{
             padding: 50px;
            display: flex;
            justify-content: center;
         }
         .navbar-about{
             display: none;
         }
     }
         
}
