header{
    font-family: $primary-font-family;
    font-size:$primary-font-size;
}
 .navbar{
        display: flex; 
        .icon-cart {
            position: relative;
            .input-bag{
                margin-left: -100px;
                left: 0;
                text-align: center;
                display: none;
                position: absolute;
                width: 200px;
                height: 50px;
                border-style: solid;
                border: 0;
                z-index: 2;
            }
            div{
                position: absolute;
                display: none;
            }
            a{
                &:hover #search-icon{
                    color: red;
                }
            }
            i{
                margin-right: 20px;
            }
            .basket-icon{
                &:hover{
                    .input-bag{
                        display: block;
                    }
                }
            }


        }
        .image{
            margin-top: 20px;
            margin-left: 50px;
            width: 270px;
        }
        .image>img{
          width: 270px;
          margin-left: 50px;
        }
        .navbar-about{
            display: flex;
            margin-left: 100px;

        }
        .navbar-about_item>div{
            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: rgb(75, 75, 75);
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }
            &:hover::before {
                visibility: visible;
                width: 100%;
              }
        }
        
        .navbar-about_item>ul{
            display: none;
            position: absolute;
            min-width: 200px;
            margin-top: 1px;
            background-color: white;
            text-align: start;
            margin-left: 0;
            padding-left: 0;
            background-color: white;
            z-index: 1;
        }

        .navbar-about_item{
            transition: 0.2s;
            margin: 30px;
            position: relative;
            display: inline-block;
            &:hover ul{
                display: block;
                transition: 0.2s;
                animation: drop 1s forwards;
	            a,h3 {
		        animation: drop_text 1s forwards;
	                }
            }
            @keyframes drop {
	        from {
	        	max-height: 0;
	                }

	        to {
	        	max-height: 700px;
	            }
            }

            @keyframes drop_text {
                from {
                    max-height: 0;
                }
            
                to {
                    max-height: 700px;
                }
            }
            .shop-item{
                position: absolute;
                display: none;
                left: 50%;
                background-color: white;
                z-index: 1;
              ul{
                padding: 0;
                margin: 30px;
                
              }
              h3{
                  margin: 17px;
              }
            }
            li{
                 margin: 0;
                 padding: 11px 20px;
                list-style: none;
                position: relative;
                min-width: 230px;
                &::before {
                    content: "";
                    position: absolute; 
                    width: 0;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: rgb(75, 75, 75);
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
                }
                &:hover::before {
                    visibility: visible;
                    width: 100%;
                  }
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
        .shop{
            &:hover .shop-item{
                display: flex;
                align-self: flex-start;
                position: absolute;
                left: 50%; 
                transform: translate(-50%, 0);
            }
        } 
        .next-dropdown{ 
         position: relative;
        margin: 0 8px;
        display: flex;
        .arrow {
            border: solid rgb(37, 37, 37);
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            position: absolute;
            right: 15px;
          } 
         ul{
            visibility: hidden;
            opacity: 0;        
            padding: 0;
            min-width: 0px;
            background-color:white;
            position: absolute;
            right: 0px;
            top: calc(var(--menu-height) + 5px);
            left: 100%;
            transform: translateX(-50%);
            transition: 200ms;
            transition-delay: 200ms;
            li {
                background-color: white;
                margin: 0;
                padding: 8px 16px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 30px;
                padding-right: 40px;
                &::before {
                  width: 0; 
                  height: 0;  
                  content: "";
                  position: absolute;
                  width: 0;
                  height: 1px;
                  bottom: 0;
                  left: 0;
                  background-color: rgb(75, 75, 75);
                  visibility: hidden;
                  transition: all 0.3s ease-in-out;
                }
                ul {
                    background-color: white;
                    top: -2%;
                    left: 100%;
                    transform: translate(0)
                  }
            }
        }
         &:hover {
        > ul {
          z-index: 1;
          opacity: 1;
          visibility: visible;
          transition-delay: 0ms;
        }
      }
     }
}
@media screen and(min-width: 926) and (max-width:1245) {
 
    .navbar-about{
        margin-left: 100px;
   }
}

@media screen and(max-width: 996px){
    .navbar{
        padding: 20px;

         .navbar-about{
            display: none;
        }
    }
}
.sidebar{
    position: fixed;
    z-index: 1;
    width: 420px;
    height: 1019px;
    top: 0;
    right: 0;
    padding-top: 80px;
    display: none;
    background-color: white;
    .side-dropdown{
        margin-bottom: 20px;
        .side-dropdown_button{
            padding:16px 25px;
            text-decoration: none;
            font-size: 13px;
            color: #000;
        }
        .side-dropdown-content{
            margin-top: 16px;
            display: none;
            a{
                display: block;
                padding: 7px 25px;
                text-decoration: none;
                color: black;
            }
        }
        .sub_side-dropdown-content{
            display: none;
        }
        .side-dropdown-content.opened{
            display: block;
        }
        
    }
    button{
        position: relative;
        left: 350px;
        bottom: 30px;
        border: 0;
        height: 50px;
        width: 50px;
    }
}
.menuopen{
    position: fixed;
    right: 100px;
    top: 50px;
    border: 0;
    border-color: white;
    button{
     height: 50px;
     width: 50px;
    }
    display: none;
}
@media screen and(max-width: 996px){
    .menuopen{
            display: block;
        
    }
}

section{
    padding: 0;
    margin: 0;
    #slideshow {
        margin: 0 auto;
        position: relative;
       
      }
      
      #slideshow > div {
        position: relative;
        img{
            width: 100%;
        }
      }
      .slide-text{
          max-width: 500px;
          display: inline-block;
          position: absolute;
          top: 200px;
          left: 100px;
          
          font-family:'Times New Roman', Times, serif;
          h3{
            font-size: 60px;
          }
          span{
              color: red;
          }
          h4{
              color: rgb(79, 77, 77);
          }
      }
}
